.list {
  li + li {
    margin-top: 0.625rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: fit-content;

    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
    color: var(--gray-600);

    &:hover {
      text-decoration: underline;
    }
  }
}