@mixin container {
  max-width: calc(800px + 2rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@mixin title {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  line-height: 1;
  margin-bottom: 0.5rem;
}