@use "@/styles/utils" as utils;

.main {
  @include utils.container;

  padding-bottom: 4rem;

  section + section {
    margin-top: 3rem;

    @media only screen and (min-width: 1200px) {
      margin-top: 4rem;
    }
  }
}