@use "@/styles/utils" as utils;

.header {
  padding: 4rem 0;
}

.container {
  @include utils.container;
}

.photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  object-fit: cover;
}

.title {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  line-height: 1;
  margin-bottom: 0.25rem;
}

.text {
  font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
}