@use "@/styles/utils" as utils;

.header {
  padding: 4rem 0;

  a {
    color: inherit;
    
    &:hover {
      text-decoration: underline; 
    }
  }

}

.container {
  @include utils.container;
}

.icon {
  margin-bottom: 0.75rem;
}

.title {
  @include utils.title;
}

.text {
  font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
}