@use "@/styles/utils" as utils;

.header {
  padding: 4rem 0;
}

.container {
  @include utils.container;
}

.photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
  object-fit: cover;
}

.title {
  @include utils.title;
}

.text {
  font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
}